<div class="page-header">
  <h1>Editing User #<%= @user.id %></h1>
</div>

<% if @user.errors.any? %>
  <% @user.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<%= form_tag(user_url(@user), method: 'patch', class: 'form-horizontal') do %>
  <div class="form-group">
    <%= label_tag :course_id, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%# if params[:course_id].present? %>
        <%#= select_tag :course_id, options_from_collection_for_select(Course.all.order(:start_date), :id, :full_course_title, Course.find_by(params[:course_id]), class: 'form-control') %>
      <%# else %>
        <%= select_tag :course_id, options_from_collection_for_select(Course.all.order(:start_date), :id, :full_course_title), class: 'form-control' %>
      <%# end %>
    </div>
  </div>
  <div class="form-group">
    <%= label_tag :first_name, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :first_name, @user.first_name, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :last_name, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :last_name, @user.last_name, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :email, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :email, @user.email, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :phone, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :phone, @user.phone, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :street_address, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :street_address, @user.street_address, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :city, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :city, @user.city, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :state, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :state, @user.state, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :zip, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :zip, @user.zip, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :due_date, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :due_date, @user.due_date, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :birth_place, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :birth_place, @user.birth_place, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :doc_midwife, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :doc_midwife, @user.doc_midwife, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :baby_gender, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :baby_gender, @user.baby_gender, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :password_digest, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :password_digest, @user.password_digest, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-offset-2 col-md-6">
      <%= submit_tag "Update User", class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
