<div class="page-header">
  <h1>New User</h1>
</div>

<%= form_tag(users_url, method: 'post', class: 'form-horizontal') do %>
  <div class="form-group">
    <%= label_tag :first_name, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :first_name, nil, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :last_name, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :last_name, nil, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :email, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :email, nil, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :phone, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :phone, nil, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :street_address, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :street_address, nil, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :city, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :city, nil, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :state, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :state, nil, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :zip, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :zip, nil, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :due_date, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :due_date, nil, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :birth_place, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :birth_place, nil, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :doc_midwife, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :doc_midwife, nil, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :baby_gender, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :baby_gender, nil, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :password_digest, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :password_digest, nil, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-offset-2 col-md-6">
      <%= submit_tag "Create User", class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
