<div class="page-header">
  <h1>User #<%= @user.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>First name</dt>
  <dd><%= @user.first_name %></dd>

  <dt>Last name</dt>
  <dd><%= @user.last_name %></dd>

  <dt>Email</dt>
  <dd><%= @user.email %></dd>

  <dt>Phone</dt>
  <dd><%= @user.phone %></dd>

  <dt>Street address</dt>
  <dd><%= @user.street_address %></dd>

  <dt>City</dt>
  <dd><%= @user.city %></dd>

  <dt>State</dt>
  <dd><%= @user.state %></dd>

  <dt>Zip</dt>
  <dd><%= @user.zip %></dd>

  <dt>Due date</dt>
  <dd><%= @user.due_date %></dd>

  <dt>Birth place</dt>
  <dd><%= @user.birth_place %></dd>

  <dt>Doc midwife</dt>
  <dd><%= @user.doc_midwife %></dd>

  <dt>Baby gender</dt>
  <dd><%= @user.baby_gender %></dd>

  <dt>Password digest</dt>
  <dd><%= @user.password_digest %></dd>

</dl>
