<div class="page-header">
  <h1>New Course</h1>
</div>

<%= form_tag(courses_url, method: 'post', class: 'form-horizontal') do %>
  <div class="form-group">
    <%= label_tag :start_date, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :start_date, nil, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :end_date, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :end_date, nil, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :category_id, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= select_tag :category_id, options_from_collection_for_select(Category.all, :id, :name), class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :cost, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :cost, nil, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :place, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :place, nil, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :start_time, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :start_time, nil, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :end_time, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :end_time, nil, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :teacher, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :teacher, nil, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-offset-2 col-md-6">
      <%= submit_tag "Create Course", class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
