<div class="page-header">
  <h1>Categories</h1>
</div>

<p><%= link_to 'Add a New Category', new_category_url, class: 'btn btn-primary btn-orange' %></p>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= category.description %></td>
        <td><%= link_to '<i class="fa fa-search-plus"></i>'.html_safe, category_url(category), class: 'btn btn-primary' %></td>
        <td><%= link_to '<i class="fa fa-edit"></i>'.html_safe, edit_category_url(category), class: 'btn btn-warning' %></td>
        <td><%= link_to '<i class="fa fa-trash-o"></i>'.html_safe, category_url(category), method: 'delete', data: { confirm: "Do you really want to delete this category?" }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="innerbody">

  <div class="jumbotron innerbody">
    <h1>Classes & Groups</h1>
  </div>

  <div class="course">
    <div class="row">
      <div>
      <img class="col-md-5" class="list_photo" src="http://ohanaparents.com/wp-content/uploads/2013/01/9-Ohana-Childbirth-Class-6-300x210.jpg">
      </div>
    <div class="description">
    <h2>Childbirth Class and ParentPrep Class</h2>
    <p>Ohana childbirth classes are designed to cover the information most important to expecting parents as they prepare for their upcoming birth and the beginning of parenthood. The curriculum is based on our team&rsquo;s combined 25+ years of experience working with pregnant women and their partners, the most cutting-edge research available about childbirth, and contributions from leading health care providers in Chicago.</p>
    </div>
    <div>
      <h3 class="pink">Next Scheduled Class</h3>
      <p>Childbirth & ParentPrep 6-week session &ndash; January 7-February 11, 2014, Tuesdays 7:00pm-9:00pm</p>
    </div>
      <button type="button" class="btn_orange btn-lg">Enroll Now</button>
    <div>
    </div>
  </div>

<div></div>

<div class="course">
  <div class="row">
    <div>
      <img class="col-md-5" class="list_photo" src="http://ohanaparents.com/wp-content/uploads/2013/09/IMG_1300.jpg">
    </div>
  <div class="description">
    <h2>Mom&Baby/Dad&Baby Groups</h2>
    <p>New parenthood is a time of great transition. It often brings with it a great deal of joy, but also challenges. Husbands or partners can have limited time off before returning to work, which means that new moms may find themselves at home alone with their baby for long stretches of time. Dads have their own concerns and challenges as they try to balance the responsibilities of work, supporting their partner, and bonding with their babies. Ohana Mom&Baby / Dad&Baby groups provide a time to gather with other new moms or dads and are facilitated by experts in infant care and the transition to parenthood.</p>
  </div>
  <div>
    <h3 class="pink">Next Scheduled Class</h3>
    <p>Mom&Baby Group &ndash; October 24-December 5, 2013, Thursdays 9:30am-11:00am</p>
   </div>
   <button type="button" class="btn_orange btn-lg">Enroll Now</button>

<div></div>

</div>

  <div class="topdescription">
    <div class="row">
    </div>
    <p>The following workshops are scheduled on an interest basis.  Please let us know if you are interested in the class and we will contact you when the date for the next one has been set.</p>
</div

    <div class="course">
      <div class="row">
        <div>
        <img class="col-md-5" class="list_photo" src="http://denverbirthservices.com/wp-content/uploads/2012/10/cloth-diaper-baby.jpg">
        </div>
    <div class="description">
      <h2>Cloth Diapering</h2>
      <p>Learn how to use cloth diapers.</p>
    </div>

  <button type="button" class="btn_orange btn-lg">Yes!  Please contact me when the next workshop is scheduled.</button>

<div></div>

</div>

<div class="course">
<div class="row">
  <div>
  <img class="col-md-5" class="list_photo" src="http://athensparent.com/images/articles/babysign.jpg">
  </div>
  <div class="description">
    <h2>Baby Sign Language</h2>
<p>Learn how to use sign language to communicate with your infant.</p>
  </div>
  <button type="button" class="btn_orange btn-lg">Yes!  Please contact me when the next workshop is scheduled.</button>
    <div>
    </div>
    </div>

    <div class="course">
<div class="row">
  <div>
  <img class="col-md-5" class="list_photo" src="http://www.organizewithsandy.com/wp-content/uploads/2012/03/laundry-8.jpg">
  </div>
  <div class="description">
    <h2>DIY Laundry Detergent</h2>
<p>Learn how to make non-toxic, gentle laundry detergent.</p>
  </div>
  <button type="button" class="btn_orange btn-lg">Yes!  Please contact me when the next workshop is scheduled.</button>
    <div>
    </div>
    </div>

   <div class="course">
<div class="row">
  <div>
  <img class="col-md-5" class="list_photo" src="http://ammaparentingcenter.com/images/stories/baby%20sleeping.jpg">
  </div>
  <div class="description">
    <h2>Infant Sleep Strategies</h2>
<p>Learn strategies for helping your baby fall and stay asleep.</p>
  </div>
  <button type="button" class="btn_orange btn-lg">Yes!  Please contact me when the next workshop is scheduled.</button>
    <div>
    </div>
    </div>


</div>

</div>
